@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    font-family: Roboto,sans-serif;
    align-items: center;
    overflow: hidden;
    margin: 5%;
    background-color: #103344;
    color: #fafafa;
}    
.row .col-4 a {
    text-decoration: none;
}

.row .col-4 .inner-box {
    box-shadow: 5px 5px 5px 5px lightblue;
    padding: 10px;
    background-color: #fafafa;
}

